:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: white;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  width: 100%;
  flex: 1;
}

body {
  margin: 0;
  display: flex;
  width: 100%;
  height: 100vh;
  min-width: 320px;
  min-height: 100vh;
  overflow-x: hidden;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: #f1f1f1;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

#landingPage {
  background-color: white;
}

#landingButtons button {
  background-color: #d9d9da;
  color: black;
  border: none;
  border-radius: 8px;
}

#navBar {
  display: flex;
  justify-content: center;
  background-color: #1a9ca6;
  padding: 1rem 0;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

#navBar a {
  margin: 0 1rem;
  color: white;
}

#navBar .homeIcon {
  width: 69px;
  height: 63px;
}

#navBar .bookmarkIcon {
  width: 64px;
  height: 56px;
}

#navBar .calendarIcon {
  width: 58px;
  height: 63px;
}

#navBar .settingsIcon {
  width: 62px;
  height: 56px;
}

#homeWrapper,
#savedEventsWrapper {
  padding: 0 2.5%;
}

#welcomeText {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

#welcomeText img {
  cursor: pointer;
}

#welcomeText .heartIcon {
  width: 28px;
  height: 28px;
}

#welcomeText .bellIcon {
  width: 34px;
  height: 31px;
}

#welcomeText #icons {
  display: flex;
  gap: 10px;
}

.headingText {
  font-size: 0.5rem;
  display: inline;
}

#upcomingEvents {
  font-size: 0.75rem;
  padding: 0;
}

.eventListing {
  margin: 10px 0;
  list-style: none;
  width: 100%;
  background-color: white;
  border-width: 2px;
  border-radius: 10px;
  border-style: solid;
  border-color: #fefefe;
  padding: 0 10px;
  box-sizing: border-box;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.blackText {
  color: black;
}

.centerAlign {
  text-align: center;
}

.leftAlign {
  text-align: left;
}

#landingPage {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100vw;
  min-height: 100vh;
  box-sizing: border-box;
}

#logInBox h1 {
  font-size: 1.4em;
}

#logInBox input {
  margin-bottom: 0.3em;
  font-size: 1em;
  text-align: center;
}

#logInBox button {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.nextButton {
  border: none;
  background-color: #f1f1f1;
  color: black;
}

#landingPage {
  text-align: center;
}

#logo {
  width: 20%;
  margin: 0 auto;
}

#logo img {
  display: block;
  width: 100%;
  height: auto;
}

#landingButtons button {
  margin: 2.5% auto;
  width: 100%;
  display: block;
}

#eventCard {
  position: relative;
}

#eventCard .buttonGroup {
  position: absolute;
  bottom: 10px;
  right: 10px;
  display: flex;
  gap: 5px;
}

#eventCard .buttonGroup button {
  width: auto;
  padding: 5px 10px;
  font-size: 0.9rem;
}

#eventCard button {
  border: none;
  background-color: white;
  color: #34c759;
}

#eventCard #deleteButton,
#eventCard #unlikeButton {
  color: #8e2626;
  position: absolute;
  bottom: 10px;
  right: 10px;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
